/*
* Skeleton V2.0.4
* Copyright 2014, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 12/9/2014
* Sass Version by Seth Coelen https://github.com/whatsnewsaes
*/

.map {
	width: 100%;
	height: 400px;
	border: #ccc solid 1px;
	margin: 20px 0;

	/* fixes potential theme css conflict */
	img {
	   max-width: inherit !important;
	}
}

.clear {
	display: block;
	clear: both;
}

#content {
	background-color: white;
}

#primary {
	padding: 12rem 0;
	text-align: center;

	.container {
		max-width: 1140px;
	}

	h1, h2 {
		font-size: 3rem;
		margin-bottom: 6rem;
	}

	p {
		margin-bottom: 4rem;
	}

	.more {
		margin-bottom: 0;
		letter-spacing: 1px;
		display: inline-block;
		padding: 1rem 1.5rem;
		font-weight: 600;
		border: 1px solid $primary-color;
		text-transform: uppercase;
		text-decoration: none;
	}
}

#range {
	text-align: center;

	.more {
		letter-spacing: 1px;
		margin-bottom: 0;
		margin-top: 6rem;
		display: inline-block;
		padding: 1rem 1.5rem;
		font-weight: 600;
		border: 1px solid $primary-color;
		text-transform: uppercase;
		text-decoration: none;
	}
	
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		text-align: center;

		li {
			width: 100%;
			display: inline-block;
			margin-bottom: 30px;
			position: relative;

			@media (#{$bp-larger-than-tablet}) {
				width: calc(50% - 15px);
				margin-right: 30px;
			}

			&:nth-child(even) {
				margin-right: 0;
			}

			&:last-of-type {
				margin-right: 0;
			}

			a {
				text-decoration: none;
			}

			img {
				width: 100%;
				display: block;
			}

			.text {
				position: absolute;
				width: 60%;
				top: 0;
				height: 100%;
				text-align: center;

				@media (#{$bp-larger-than-tablet}) {
					width: 40%;
				}

				* {
					color: white;
					font-size: inherit;
					text-align: center;
				}

				h3 {
					font-weight: 400;
					padding: 0 20px;

					@media (#{$bp-larger-than-tablet}) {
					}
				}

				button {
					border-radius: 0;
					letter-spacing: 1px;
					height: auto;
					line-height: inherit;
					font-size: inherit;
					padding: 1rem 2.5rem;
					text-transform: uppercase;
					border-radius: 0;
					border-color: white;
				}
			}

			&:nth-child(1), &:nth-child(2), &:nth-child(5), &:nth-child(6), {
				.text {
					right: 0;
				} 
			}

			&:nth-child(3), &:nth-child(4), &:nth-child(7), &:nth-child(8), {
				.text {
					left: 0;
				} 
			}
		}
	}
}

/*====================================
=            HOME / PRODS            =
====================================*/

.home, .products {

	#primary {

	}

	#banner {
		@media (#{$bp-larger-than-tablet}) {
			height: 80vh;
		}

		.blurb {

			h2 {
				margin-bottom: 4rem;
			}
			
			.after {
			}
		}
	}
}

.products {

	#banner {
		@media (#{$bp-larger-than-tablet}) {
			height: 60vh;
		}

		.blurb {
			
			.after {
			}
		}
	}
}

/*===============================
=            CONTACT            =
===============================*/

.contact-us {

	#form {
		margin-top: 15rem;

		.container {
			max-width: 1140px;
		}

		div#gform_wrapper_1 {
			margin: 0;
		}

		.gform_footer.top_label {
			padding-bottom: 0;
		}
	}

	#primary {
		padding-top: 0;

		#main {
			padding-top: 6rem;
			margin-top: 6rem;
			border-top: 1px solid #a0a0a0;
		}
	}

	#mappy {
		margin-top: 12rem;
	}
}

/*==============================
=            RANGES            =
==============================*/

.tax-range {

	#banner {

		.text {
			width: 100%;
			color: white;
			text-align: left;
			margin: 0 auto;
			max-width: 1140px;

			.wrap {
				width: 100%;
				float: right;
				text-align: center;

				@media (#{$bp-larger-than-tablet}) {
					width: 30%;
					text-align: left;
				}

				h2 {
					padding-left: 0;
					margin-bottom: 2rem;
				}

				p {
					margin-bottom: 0.5rem;
					color: white;
				}
			}
		}
	}

	#primary {

		article {
			text-align: left;
			margin-bottom: 4rem;
			padding-bottom: 4rem;
			border-bottom: 1px solid #a0a0a0;
			width: 100%;
			float: none;
			display: inline-block;
			vertical-align: top;

			@media (#{$bp-larger-than-tablet}) {
				width: calc(50% - 15px);
				margin-right: 30px;
			}

			&:nth-child(even) {
				margin-right: 0;
			}

			&:last-of-type {
				margin-right: 0;
				margin-bottom: 0;
				border-bottom: 0;
			}

			> div {
				display: inline-block;
				width: 100%;
				vertical-align: middle;
				box-sizing: border-box;
			}

			.entry-image {
				margin-bottom: 3rem;

				@media (#{$bp-larger-than-tablet}) {
					margin-top: 0;
				}

				img {
					display: block;
					width: 100%;
					border-top: 10px solid #4d4d4d;
					border-right: 10px solid $primary-color;
					border-bottom: 10px solid $primary-color;
					border-left: 10px solid #4d4d4d;
					box-sizing: border-box;
				}
			}

			.entry-content {
				@media (#{$bp-larger-than-tablet}) {
				}

				.more {
					margin-top: 3rem;
				}

				h2 {
					margin-bottom: 2rem;
					font-size: 2rem;
				}

				p {
					margin-bottom: 2rem;
				}

				ul {
					margin-bottom: 2rem;
					list-style: none;

					li {
						padding-left: 3rem;
						position: relative;

						&:before {
							content: "- ";
							position: absolute;
							margin-left: -15px;
						}
					}
				}
			}

			// &:nth-child(even) {
			// 	direction: rtl;
				

			// 	.entry-image {
			// 		padding-right: 0;
			// 		padding-left: 6rem;
			// 	}
			// }
		}
	}
}

/*=============================
=            POSTS            =
=============================*/

.blog {

	#primary {

		article {
			text-align: left;
			margin-bottom: 4rem;
			padding-bottom: 4rem;
			border-bottom: 1px solid $primary-color;
			display: ltr;

			&:last-of-type {
				margin-bottom: 0;
				border-bottom: 0;
			}

			> div {
				display: inline-block;
				width: 50%;
				vertical-align: middle;
				box-sizing: border-box;
			}

			.entry-image {

				img {
					display: block;
					width: 100%;
				}
			}

			.entry-content {
				padding-right: 6rem;

				.more {
					margin-top: 3rem;
				}

				h2 {
					margin-bottom: 2rem;
					font-size: 2rem;
				}

				p {
					margin-bottom: 2rem;
				}

				ul {
					margin-bottom: 2rem;
					list-style: none;

					li {
						padding-left: 3rem;
						position: relative;

						&:before {
							content: "- ";
							position: absolute;
							margin-left: -15px;
						}
					}
				}
			}

			// &:nth-child(even) {
			// 	direction: rtl;
				

			// 	.entry-image {
			// 		padding-right: 0;
			// 		padding-left: 6rem;
			// 	}
			// }
		}
	}
}


/*==============================
=            SINGLE            =
==============================*/

.single {

	#primary {

		.entry-content {
			margin-top: 4rem;
		}
	}

}
